.logoContainer {
    background: linear-gradient(0deg, rgba(0,0,0,.6) 0%, rgba(255,255,255,0) 25%);
}
.bgFix {
    max-height: 98vh;
}

@media screen and (max-width: 1024px) {
    .bgFix {
        max-height: revert;
    }
}
